<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saturjs example</title>
    <style>
        body {
            background: #000;
            color: aliceblue;
            font-family: sans-serif;
        }

        a {
            display: block;
            padding: .5rem;
            color: aliceblue;
            text-transform: uppercase;
            text-decoration: none;
            background: #111;
            margin: .5rem;
        }
    </style>
</head>

<body>
    <h1>SaturJs Examples</h1>
    <a href="/counter">counter</a>
    <a href="/todo">todo</a>
    <a href="/image-gallery">image-gallery</a>
</body>

</html>